<h2>New Tour</h2>

<%= form_for ([:user,@tour]) do |f| %>

  <%= f.label "Name your tour!" %>
  <%= f.text_field :name %>

  <%= f.label "Describe your tour!" %>
  <%= f.text_field :description %>

  <%= f.submit "Create" %>
<% end %>
