<h1 class="show-tour">
  <%= @tour.name %> by <%= @local.first_name %> <%= @local.last_name %>
</h1>
<div class="user-tours">
<% @tour_steps.each do |step| %>
  <div class="steps">
      <p>Step Number: <%= step.number %></p>
    <div class="step-photo">
      <% picture_id = step.photo_id %>
      <% image = Photo.find(picture_id) %>
      <p><img src=<%= "#{image.url}" %>></p>
    </div>
    <div class="description">
      Description: <%= step.text %>
      <% address_id = step.location_id %>
      <% address = Location.find(address_id) %>
      <br>Name: <%= address.name %>
      <br>Neighborhood: <%= address.neighborhood %>
      <br><%= address.address %>
      <br><%= address.city %>, <%= address.state %>
    </div>
  </div>
<% end %>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;

  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    var san_francisco = new google.maps.LatLng(37.7833, -122.4167);
    var mapOptions = {
      zoom: 12,
      center: san_francisco
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
  }

  function calcRoute() {
    // var start = document.getElementById('start').value;
    // var end = document.getElementById('end').value;
    var start;
    var end;
    var waypts = [];
    var checkboxArray = document.getElementById('waypoints');
    for (var i = 0; i < checkboxArray.length; i++) {
      if (i == 0){
        start = checkboxArray.value
      }
      if (i == checkboxArray.length - 1){
        end = checkboxArray.value
      }

      if (checkboxArray.options[i].selected == true) {
        waypts.push({
            location:checkboxArray[i].value,
            stopover:true});
      }
    }

    var request = {
        origin: start,
        destination: end,
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: google.maps.TravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions_panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
        for (var i = 0; i < route.legs.length; i++) {
          var routeSegment = i + 1;
          summaryPanel.innerHTML += '<b>Tour Section: ' + routeSegment + '</b><br>';
          summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
          summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
          summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
        }
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div class="map">
<div id="map-canvas"></div>

<div id="control_panel">

    <b>Start:</b>

    <select id="start">
      <option value="100 Bush St #101, San Francisco, CA 94104">Happy Donut 1</option>
    </select>
    <br>
    <b>Tour Steps:</b> <br>
    <i>(Ctrl-Click for multiple selection)</i> <br>
    <select multiple id="waypoints">

      <% @tour_steps.each do |step| %>
        <% address = Location.find(step.location_id).address + ' ' + Location.find(step.location_id).city + ' ' + Location.find(step.location_id).state%>
        <option value=<%= "#{address}" %>><%= "#{Location.find(step.location_id).name}" %></option>
      <% end %>

    </select>
    <br>
    <b>End:</b>
      <select id="end">
        <option value="2049 Irving St, San Francisco, CA 94122">Happy Donut 9</option>
      </select>
    <br>
    <input type="submit" onclick="calcRoute();">
  </div>

  <div id="directions_panel"></div>


</div>
