<h1 class="ta-c">New step for: <%= @tour.name %></h1>
<h2 class="ta-c"> Step number <%= @step_number %></h2>
<h3 class="ta-c"><%= link_to "Finish Tour", user_tour_path(@user.id, @tour.id), :method => :get %></h3>
<br><br>


  <div class="photo_box">
    <form class="photo_url" action="/photos" method="post">
      <label name="photo_url">Link for photograph: </label>
      <input type="text" class="photo_url_input_field" name="photo_url">
      <input type="submit" value="Add photo">
      <img class="displayed_photo" src="" style="height: 100px; width: 100px">
    </form>
  </div>

    <form class="location_submit_form" action="/locations" method="post">
      <div class="address_fields">
        <label name="name">Where are we going?</label>
        <input id="name" type="text" name="name">
        <br>
        <label name="neighborhood">Neighborhood</label>
        <input type="text" name="neighborhood">
        <br>
        <label name="address">Address</label>
        <input id="address" type="text" name="address">
        <br>
        <label name="city">City</label>
        <input id="city" type="text" name="city">
        <br>
        <label name="state">State</label>
        <input id="state" type="text" name="state">
        <br>
        <input type="submit" value="Add location">
      </div>
    </form>

  <div class="new_step">
    <form action="/users/<%= @user.id %>/tours/<%= @tour.id %>/steps" method="post">
      <label name="text">Description for this step:</label>
      <br>
      <textarea name="text" cols="50" rows="5"></textarea>
      <br>
      <div class="ta-r">
      <input type="submit" value = "Save Step">
    </form>


  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;

  function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    var san_francisco = new google.maps.LatLng(37.7833, -122.4167);
    var mapOptions = {
      zoom: 12,
      center: san_francisco
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
  }


  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div class="map">
<div id="map-canvas"></div>

<div id="control_panel">

  <select multiple id="waypoints">

  </select>

    <input type="submit" onclick="calcRoute();">
  </div>
  <div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>
</div>